/* 言語選択画面 */
@media screen and (max-width:560px) {

  .body {
    text-align: center;
    position: fixed;
    top: 200px;
  }
  .shopNameForSelectLanguage h1 {
    font-size: 20px;
  }
  .selectBox {
    margin-top: 20px;
    text-align: center;
  }
  .selectBox h2 {
    width: 80%;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
    margin: auto;
    margin-bottom: 20px; 
  }

}

@media screen and (min-width:560px) {

}
